body {
    margin: 0;
    background-color: rgb(20, 0, 43);
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    background-color: rgb(7, 0, 15);
    color: white;
    padding: 18px;
    text-align: center;
}
header h1 {
    margin-top: 0;
}

.btn {
    background-color: rgb(98, 33, 219);
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px 50px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    transition: border-radius 0.3s ease;
}
.btn:hover {
    background-color: rgb(76, 228, 177);
    color: black;
    border-radius: 50px 10px;
}

.container {
    padding: 16px;
}

section {
    background-color: rgb(74, 19, 126);
    padding: 0.03px 16px 16px;
    border-radius: 6px;
    margin: 13px 0;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 1);
}
.last {
    margin-bottom: 60px;
}

h2 {
    border-bottom: 2px solid rgb(7, 0, 15);
    padding-bottom: 5px;
}

footer {
    background-color: rgb(7, 0, 15);
    padding: 0.5px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}