body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div {
    border-bottom: 2px, #fff;
}

.nada:hover {
    color: black;
}

span:hover {
    color: white;
}

.comeco {
    color: white;
}

.spike {
    color: white;
}
.ceiling {
    color: white;
}
.fim {
    color: white;
}
.baixo:hover {
    color: black;
}
a {
    color: black;
}
a:hover {
    color: #fff;
}